<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>App2021</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AlunoController</display-name>
    <servlet-name>AlunoController</servlet-name>
    <servlet-class>br.edu.infnet.model.controller.AlunoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlunoController</servlet-name>
    <url-pattern>/aluno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcessoController</display-name>
    <servlet-name>AcessoController</servlet-name>
    <servlet-class>br.edu.infnet.model.controller.AcessoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcessoController</servlet-name>
    <url-pattern>/acesso</url-pattern>
  </servlet-mapping>
</web-app>